@if (User.Identity.IsAuthenticated && User.FindFirst("TenantId")?.Value != null) 
{
    <input type="hidden" id="currentTenantId" value="@User.FindFirst("TenantId")?.Value" />
}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-primary text-white">
      <strong class="me-auto"><i class="fa fa-bell"></i> Thông báo mới</strong>
      <small>Vừa xong</small>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toastMessage">
      </div>
  </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script> 
<script src="~/js/site.js" asp-append-version="true"></script>