@model BusinessObject.Models.Supplier
@{
    Layout = null;
}

<div class="modal-header border-0">
    <h5 class="modal-title">Xóa Nhà cung cấp</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<form id="supplierForm" asp-action="Delete" method="post" class="p-3">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.SupplierId" />

    <p>Bạn có chắc muốn xóa:  <strong>@Model.SupplierName</strong>?</p>

    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-outline-secondary rounded" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-danger rounded">Xóa</button>
    </div>
</form>
